@charset "utf-8";
/* CSS Document */



/*活动报名成功*/
.c_station_reserve{float: left;width: 100%;box-sizing: border-box;padding: 0 9px;margin-top: 10px;}
.c_station_reserve_inner{float: left;width: 100%;border-radius: 2px;background: #fff;}
.c_station_reserve_inner_img{float: left;width: 100%;text-align: center;margin-top: 25px;}
.c_station_reserve_inner_img img{height: 60px;}
.c_station_reserve_inner_txt1{float: left;width: 100%;height: 30px;line-height: 30px;font-size: 17px;color: #000;text-align: center;margin-top: 22px;}
.c_station_reserve_inner_txt2{float: left;width: 100%;min-height: 30px;line-height: 24px;font-size: 15px;color: #000;text-align: center;margin-top: 2px;margin-bottom: 15px;box-sizing: border-box;padding: 3px 10px;}
.c_station_reservelist{float: left;width: 100%;margin-top: 10px;box-sizing: border-box;}
.c_activity_enroll_btn{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;margin-top: 20px;}
.c_activity_enroll_btn_inner{float: left;width: 100%;height: 44px;line-height: 44px;text-align: center;font-size: 16px;color: #fff;background: #ea771e;border-radius: 2px;}

.c_activity_confirmlist_inner{float: left;width: 100%;background: #fff;border-radius: 4px;box-sizing: border-box;}
.c_activity_confirmlist_inner .weui-cell{padding: 10px 0;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__bd{font-size: 13px;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__ft{letter-spacing: 1px;}

.c_ordersuccess_box{float: left;width: 100%;box-sizing: border-box;padding: 0 20px;}

.c_ordersuccess_title{float: left;width: 100%;position: relative;box-sizing:border-box;padding: 0 20px;}
.c_ordersuccess_title:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    left: 0;
}


/*二维码*/
.c_activity_codepopup{position:fixed;left: 0;right: 0;height:100%;top: 0;min-width:320px;max-width:640px;overflow:hidden;margin-left:auto;margin-right:auto; z-index:11;background: url(/static/resources/images/opacity_background.png);}
.c_activity_codepopup_inner{position:relative;width: 80%;background: #fff;margin-left: 10%;top: 68px;border-radius: 3px;overflow: hidden;padding: 10px 0;}
.c_activity_codepopup_inner_title{float: left;width: 100%;box-sizing: border-box;padding: 0 18px;margin-top: 10px;}
.c_activity_codepopup_inner_title_txt{float: left;width: 80%;margin-left: 10%;min-height: 20px;line-height: 20px;font-size: 15px;color: #333;text-align: center;font-weight: bold;font-family: "微软雅黑 light";-webkit-line-clamp:2;display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;text-overflow: ellipsis;}
.c_activity_codepopup_close{float: right;width: 10%;height: 20px;text-align: right;margin-top: 2px;}
.c_activity_codepopup_close img{height: 20px;}
.c_activity_codepopup_inner_img{float: left;width: 100%;box-sizing: border-box;padding: 0 35px;margin-top: 17px;}
.c_activity_codepopup_inner_img_txt{float: left;width: 100%;font-size: 16px;color: #ea771e;text-align: center;line-height: 19px;}
.c_activity_codepopup_inner_img_img{float: left;width: 100%;margin-top: 20px;margin-bottom: 14px;}
.c_activity_codepopup_inner_img_img img{width: 100%;}

/*无数据*/
.c_nodata_box3{float: left;width: 100%;}
.c_nodata_box3_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box3_img img{height: 124px;}
.c_nodata_box3_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}