@charset "utf-8";
/* CSS Document */



/*历史抽奖记录*/
.c_user_draw{float: left;width: 100%;}
.c_user_draw_inner{display:flex;width: 100%;box-sizing: border-box;padding: 10px 10px 17px 10px;background: #fff;position: relative;}

.c_user_draw_inner:before{
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    left: 0;
}
.c_user_draw_inner_noborder:before{
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 0;
    left: 0;
}

.c_user_draw_inner_left{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}
.c_user_draw_inner_left img{width: 100%;}
.c_user_draw_inner_right{-webkit-box-flex: 3.5;-webkit-flex: 3.5;flex: 3.5;box-sizing: border-box;padding-left: 15px;display: flex;flex-direction: column;justify-content: space-between;}
.c_user_draw_inner_right1{font-size: 16px;color: #333;}
.c_user_draw_inner_right2{font-size: 12px;color: #999;margin-top: 12px;}
.c_user_draw_inner_right3{font-size: 12px;color: #999;margin-top: 10px;}


/*无数据*/
.c_nodata_box3{float: left;width: 100%;}
.c_nodata_box3_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box3_img img{height: 124px;}
.c_nodata_box3_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}