/*8订单详情*/
.c_room_orderdetail{float: left;width: 100%;background: #fff;}
.c_room_orderdetail_inner{float: left;width: 100%;display: flex;display: -webkit-flex; padding: 6px 12px;box-sizing: border-box;}
.c_room_orderdetail_inner_left{-webkit-box-flex: 4.2;-webkit-flex: 4.2;flex: 4.2;padding: 5px 0;}
.c_room_orderdetail_inner_left a{float: left;width: 100%;}
.c_room_orderdetail_inner_left a img{width: 100%;}
.c_room_orderdetail_inner_right{-webkit-box-flex: 10;-webkit-flex: 10;flex: 10;display: inline-flex;flex-direction:column;justify-content: center;padding-left: 12px;}
.c_room_orderdetail_inner_right1{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 16px;color: #333;display: inline-flex;flex-direction:column;justify-content: center;}
.c_room_orderdetail_inner_right2{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 11px;color: #999;display: inline-flex;flex-direction:column;justify-content: center;}

.c_room_confirm_costtitle{display:flex;;height: 20px;line-height: 20px;margin-top: 12px;}
.c_room_confirm_costtitle_inner1{
    -webkit-box-flex: 2;-webkit-flex: 2;flex: 2;height: 0px;margin-top: 10px;border-bottom: 1px solid #E5E5E5;
    -webkit-transform-origin: 0 0;transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);transform: scaleY(0.5);
}

.c_room_confirm_nobefore:before{border: none !important;height: 0 !important;}
.c_room_confirm_costtitle_inner2{-webkit-box-flex: 3;-webkit-flex: 3;flex: 3;height: 20px;line-height: 20px;font-size: 15px;color: #000;text-align: center;}

.c_room_confirm_costtitle2{display:flex;;height: 20px;line-height: 20px;margin-top: 12px;font-size:13px;font-weight: bold;}

.c_room_detail_listcolor .weui-cell__ft{color: #4C4C4C;}

/*3.2确认订单*/
.c_activity_confirmtop{float: left;width: 100%;height: 70px;background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#f2ad14), to(#e75a21));}
.c_activity_confirmtop_inner{height: 20px;line-height: 20px;display: table;margin: 0 auto;font-size: 13px;margin-top: 25px;}
.c_activity_confirmtop_inner b{margin-right: 10px;float: left;}
.c_activity_confirmtop_inner b img{height: 20px;}
.c_activity_confirmtop_inner span{float:left;font-weight: bold;font-family: "微软雅黑 light";color: #fff;}

.c_activity_confirmlist{float: left;width: 100%;margin-top: 10px;box-sizing: border-box;padding: 0 9px;}
.c_activity_confirmlist_inner{float: left;width: 100%;background: #fff;border-radius: 4px;box-sizing: border-box;padding: 0 20px;}
.c_activity_confirmlist_inner .weui-cell{padding: 10px 0;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__bd{font-size: 13px;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__ft{letter-spacing: 1px;}

.c_activity_confirm_footer_left{font-size: 17px;color: #333;}

/*2.3核销确认*/
.c_user_verificationtop{float: left;width: 100%;background: #fff;}
.c_zone_teacherlist_inner{float: left;width: 100%;display: flex;border-bottom: 1px solid #f0f0f0;box-sizing: border-box;padding: 26px 15px 25px 15px;}
.c_zone_teacherlist_inner_left{-webkit-box-flex: 1.12;-webkit-flex: 1.12;flex: 1.12;box-sizing: border-box;}
.c_zone_teacherlist_inner_left img{width: 100%;border-radius: 100%;}
.c_zone_teacherlist_inner_right{-webkit-box-flex: 5.5;-webkit-flex: 5.5;flex: 5.5;padding-left: 45px;display: inline-flex;flex-direction:column;justify-content: center;}
.c_zone_teacherlist_inner_right1_name{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 16px;font-weight: bold;font-family:"微软雅黑 light";color: #000;display: inline-flex;flex-direction:column;justify-content: flex-start;}
.c_zone_teacherlist_inner_right1_position{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 14px;color: #999;display: inline-flex;flex-direction:column;justify-content: flex-end;}

.c_user_verificationlist{float: left;width: 100%;margin-top: 20px;box-sizing: border-box;padding: 0 9px;}
.c_user_verificationbtnss{float: left;width: 100%;margin-top: 20px;box-sizing: border-box;padding: 0 15px;}
.c_user_verificationbtn_innerss{float: left;width: 100%;height: 40px;line-height:40px;text-align:center;border-radius: 3px;font-size: 15px;color: #fff;background: #ea771e;}

/*2.4核销成功*/
.c_user_verification_successbox1{float: left;width: 100%;text-align: center;margin-top: 65px;margin-bottom: 24px;}
.c_user_verification_successbox1 img{height: 60px;}
.c_user_verification_successbox2{float: left;width: 100%;height: 30px;line-height: 30px;text-align:center;font-size: 18px;font-weight: bold;font-family: "微软雅黑 light";}
.c_user_verification_successbox3{float: left;width: 100%;height: 30px;line-height: 30px;text-align:center;font-size: 15px;font-weight: bold;font-family: "微软雅黑 light";}
.c_user_verificationbtn2{float: left;width: 100%;margin-top: 55px;box-sizing: border-box;padding: 0 15px;}
.c_user_verificationbtn_inner{float: left;width: 100%;height: 40px;line-height:40px;text-align:center;border-radius: 3px;font-size: 15px;color: #fff;background:grey;}
