@charset "utf-8";
/* CSS Document */

.mobile_nopadding_container2{padding-bottom: 10px;}

/*活动列表*/
.c_activity_listtab{position: fixed;left: 0;right: 0;height:44px;top: 0;min-width:320px;max-width:640px;overflow:hidden;margin-left:auto;margin-right:auto; z-index:10;background: #fff;}
.c_activity_listtab ul{float: left;width: 100%;}
.c_activity_listtab_inner{float: left;width: 25%;}
.c_activity_listtab_inner a{float: left;width: 100%;height: 42px;border-bottom: 2px solid #fff;color: #333;text-align: center;line-height: 42px;font-size: 13px;font-weight: bold;font-family: "微软雅黑 light";}
/*.c_activity_listtab_inner a:hover{border-bottom: 2px solid #ea771e;color: #ea771e;}*/
.c_activity_tabselected a{border-bottom: 2px solid #ea771e !important;color: #ea771e !important;}

.c_activity_listshow{float: left;width: 100%;margin-top: 44px;}
.c_activity_listshow_inner{float: left;width: 100%;box-sizing: border-box;padding: 0 4.375%;background: #fff;margin-top: 7px;margin-bottom: 3px;}
.c_activity_listshow_inner_img{float: left;width: 100%;margin-top: 16px;border-radius: 3px;position: relative;}
.c_activity_listimg_img{float: left;width: 100%;}
.c_activity_listimg_img img{width: 100%;border-radius: 3px;}
.c_activity_listimg_txt{position: absolute;width: 70px;height: 28px;text-align: center;line-height: 28px;font-size: 14px;color: #fff;border-radius: 3px;}
.listimg_txtcolor_status1{background: #59c681;}
.listimg_txtcolor_status2{background: #e74848;}
.listimg_txtcolor_status3{background: #c4c4c4;}
.c_activity_listshow_inner_txt{float: left;width: 100%;margin-top: 10px;padding-bottom: 8px;}
.c_activity_listshow_inner_txt1{float: left;width: 100%;height: 28px;line-height: 28px;font-weight: bold;font-family: "微软雅黑 light";}
.c_activity_listshow_inner_txt1_left{float: left;width: calc(100% - 56px);font-size: 15px;color: #333;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.c_activity_listshow_inner_txt1_left label{font-size: 10px;color: #8f8f8f;}
.c_activity_listshow_inner_txt1_right{float: left;width: 56px;font-size: 18px;color: #e75921;text-align: right;}
.c_activity_listshow_inner_txt2{float: left;width: 100%;height: 28px;line-height: 28px;color: #8f8f8f;font-size: 13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.c_activity_listshow_inner_txt3{float: left;width: 100%;height: 28px;line-height: 28px;color: #8f8f8f;font-size: 13px;}
.c_activity_listshow_inner_txt3_left{float: left;width: calc(100% - 80px);}
.c_activity_listshow_inner_txt3_right{float: right;width: 80px;font-size: 10px;color: #8f8f8f;text-align: right;}
.c_activity_list_follow img{height: 25px;margin-top: -6px;margin-right: 5px;}
.c_activity_listshow_inner_txt3_right_followed{color: #e75921;}

/*空页面*/
.c_nodata_box4{float: left;width: 100%;}
.c_nodata_box4_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box4_img img{height: 124px;}
.c_nodata_box4_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}


/*jack*/
.none{
    display: none;
}