@charset "utf-8";
/* CSS Document */



/*7我的工位*/
.c_station_minecon{float: left;width: 100%;}
.c_station_minecon ul{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;}
.c_station_minecon ul li{float: left;width: 100%;box-sizing: border-box;background: #fff;margin-top: 20px;}
.c_station_minelist_inner1{float: left;width: 100%;border-bottom: 1px dashed #8f8f8f;display: flex;display: -webkit-flex; padding: 15px 10px;box-sizing: border-box;}
.c_station_minelist_inner1_left{-webkit-box-flex: 5.9;-webkit-flex: 5.9;flex: 5.9;padding: 5px 0;}
/*.c_station_minelist_inner1_left a{float: left;width: 100%;}*/
.c_station_minelist_inner1_left img{width: 100%;}
.c_station_minelist_inner1_right{-webkit-box-flex: 10;-webkit-flex: 10;flex: 10;display: inline-flex;flex-direction:column;justify-content: center;padding-left: 12px;}
.c_station_minelist_inner1_right1{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 16px;color: #333;}
.c_station_minelist_inner1_right2{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 12px;color: #999;display: inline-flex;flex-direction:column;justify-content: center;}
.c_station_minelist_inner1_right3{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 14px;color: #ff0234;display: inline-flex;flex-direction:column;justify-content: flex-end;}
.c_station_minelist_inner2{float: left;width: 100%;padding: 10px;box-sizing: border-box;}
.c_station_minelist_inner2_left{float: left;height: 28px;line-height: 28px;font-size: 13px;}
.c_station_minelist_status1{color: #59c681;}
.c_station_minelist_status2{color: #e74848;}
.c_station_minelist_status3{color: #c4c4c4;}
.c_station_minelist_status4{color: #6e9ee0;}
.c_station_minelist_inner2_right{float: right;}
.c_station_minelist_inner2_right a{float: left;height: 28px;box-sizing: border-box;border: 1px solid #b9d0f0;border-radius: 2px;padding: 0 10px;font-size: 11px;line-height: 26px;color: #74a2e2;margin-left: 15px;}

.c_minelist_leftcolor{color: #c4c4c4;font-size: 12px;}

/*空页面*/
.c_nodata_box4{float: left;width: 100%;}
.c_nodata_box4_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box4_img img{height: 124px;}
.c_nodata_box4_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}

