<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>工位租赁</title>
    <link href="/static/resources/lib/css/common.css?v={$timestamp}" rel="stylesheet" type="text/css" />
    <link href="/static/resources/lib/weui/weui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/resources/page/workplace/spaceList/css/index.css?v={$timestamp}" rel="stylesheet" type="text/css" />
</head>
<body class="background">
    <script src="/static/resources/lib/js/zepto.min.js" ></script>
    <script src="/static/resources/lib/weui/weui.min.js" ></script>
    <script src="/static/resources/page/workplace/spaceList/tpl/build/template.js?v={$timestamp}"></script>
    <script src="/static/resources/util/tool.js?v={$timestamp}"></script>
    <script src="/static/resources/page/workplace/spaceList/js/index.js?v={$timestamp}" ></script>
</body>
</html>

















