<%if(data && data.activity){
var d = data.activity;
var is_manager = +d.is_manager;
var comments = d.comments||[];
comments5 = comments.slice(0,5);
%>
<div class="c_activity_detailall_tab">
    <ul>
        <li class="j-title c_activity_detailall_tab_inner c_activity_tabselected"><a href="javascript:;">详情</a></li>
        <li class="j-title c_activity_detailall_tab_inner"><a href="javascript:;">声明</a></li>
        <li class="j-title c_activity_detailall_tab_inner "><a href="javascript:;">评价</a></li>
    </ul>
</div>
<div class="c_activity_detailall_content">
    <div class="j-content   c_activity_detailall_content_comment">
        <!--详情-->
        <%= d.description.replace(/\r\n/g,'<br/>') %>
    </div>
    <div class="j-content none  c_activity_detailall_content_desc">
        <!--声明-->
        <%= d.declaration.replace(/\r\n/g,'<br/>')%>
    </div>
    <div class="j-content none c_activity_detailall_content_dec">
        <ul>
            <%for(var i=0;i<comments5.length;i++){
            var cmt = comments5[i];
            var score = cmt.score;
            %>
            <li class="j-comment" data-comment_id="<%=cmt.id%>">
                <div class="c_activity_detailcomment_left"><img src="<%=cmt.headimgurl%>" /></div>
                <div class="j-right c_activity_detailcomment_right">
                    <div class="c_activity_detailcomment_right1">
                        <label><%=cmt.true_name%></label>
                        <b>
                            <img src="<%=getImgPath((score>=1)?'star1.png':'star2.png')%>" />
                            <img src="<%=getImgPath((score>=2)?'star1.png':'star2.png')%>" />
                            <img src="<%=getImgPath((score>=3)?'star1.png':'star2.png')%>" />
                            <img src="<%=getImgPath((score>=4)?'star1.png':'star2.png')%>" />
                            <img src="<%=getImgPath((score>=5)?'star1.png':'star2.png')%>" />
                        </b>
                    </div>
                    <div class="c_activity_detailcomment_right2"><%=cmt.content||''%></div>
                    <div class="c_activity_detailcomment_right3 ">
                        <span class="c_activity_detailcomment_right3_left"><%=cmt.create_time.replace(/-/g,'/')||''%></span>
                        <%if(null == cmt.reply_manager_id && 1===is_manager){%>
                        <a href="javascript:;" class="j-reply c_activity_detailcomment_right3_right"><img src="<%=getImgPath('activity_detail_icon3.png')%>" />回复</a>
                        <%}%>
                    </div>
                    <%if(cmt.reply_manager_id != null){%>
                    <div class="c_activity_detailcomment_right4">
                        <div class="c_activity_detailcomment_right4_point"><img src="<%=getImgPath('activity_detail_icon4.png')%>" /></div>
                        <div class="c_activity_detailcomment_right4_inner">
                            <label class="c_activity_comment_title"><%=cmt.reply_manager_name||''%></label>
                            <span class="c_activity_comment_des"><%=cmt.reply_content||''%></span>
                            <b class="c_activity_comment_time"><%=cmt.reply_time.replace(/-/g,'/')||''%></b>
                        </div>
                    </div>
                    <%}%>
                </div>
            </li>
            <%}%>
        </ul>
        <%if(comments.length>5){%>
        <a href="/index.php/index/activity/pageActivityComments?activity_id=<%=d.id%>" class="activity_detail_comment_more">查看全部</a>
        <%}%>
    </div>

</div>
<%}%>