@charset "utf-8";
/* CSS Document */


/*签到确认*/
.c_activity_bindtop{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;background: #fff;margin-bottom: 20px;}
.c_activity_bindtop_inner{float: left;width: 100%;display: flex;display: -webkit-flex; padding: 10px 0 ;}
.c_activity_bindtop_inner_left{-webkit-box-flex: 5;-webkit-flex: 5;flex: 5;padding: 4px 0 6px 0;}
.c_activity_bindtop_inner_left a{float: left;width: 100%;}
.c_activity_bindtop_inner_left a img{width: 100%;}
.c_activity_bindtop_inner_right{-webkit-box-flex: 11;-webkit-flex: 11;flex: 11;display: inline-flex;flex-direction:column;justify-content: center;padding-left: 15px;}
.c_activity_bindtop_inner_right1{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 15px;color: #333;}
.c_activity_bindtop_inner_right2{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 11px;color: #999;display: inline-flex;flex-direction:column;justify-content: center;}

.c_activity_bindbtn{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;}
.c_activity_bindbtn_inner{float: left;width: 100%;height: 44px;text-align: center;line-height: 44px;font-size: 17px;color: #fff;background: #ea771e;border-radius: 2px;}

.c_activity_signconfirmlist{float: left;width: 100%;box-sizing: border-box;padding: 0 9px;margin-bottom: 20px;}
.c_activity_signconfirmlist_inner{float: left;width: 100%;background: #fff;border-radius: 4px;box-sizing: border-box;padding: 0 20px;}
.c_activity_signconfirmlist_inner .weui-cell{padding: 10px 0;}
.c_activity_signconfirmlist_inner .weui-cell .weui-cell__bd{font-size: 13px;}
.c_activity_signconfirmlist_inner .weui-cell .weui-cell__ft{letter-spacing: 1px;}

.c_activity_signconfirmlist_author{float: left;width: 100%;display: flex;background: #fff;box-sizing: border-box;padding: 19px 20px 10px 20px;}
.c_activity_signconfirmlist_author_inner1{-webkit-box-flex: 2;-webkit-flex: 2;flex: 2;display: flex;flex-direction: column;justify-content: center;}
.c_activity_signconfirmlist_author_inner1_border{
    -webkit-box-flex: 1;-webkit-flex: 1;flex: 1;height: 0px;border-bottom: 1px solid #E5E5E5;
    -webkit-transform-origin: 0 0;transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);transform: scaleY(0.5);
}
.c_activity_signconfirmlist_author_inner2{-webkit-box-flex: 1.1;-webkit-flex: 1.1;flex: 1.1;text-align: center;box-sizing: border-box;padding: 0 18px;}
.c_activity_signconfirmlist_author_inner2 img{width: 100%;border-radius: 100%;}

/*无数据*/
.c_nodata_box3{float: left;width: 100%;}
.c_nodata_box3_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box3_img img{height: 124px;}
.c_nodata_box3_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}