/*3我的孵化项目*/
.c_incubator_minelist{float:  left;width: 100%;box-sizing: border-box;padding: 0 15px;}
.c_incubator_minelist_inner{float: left;width: 100%;background: #fff;border-radius: 3px;margin-top: 20px;box-sizing: border-box;padding: 8px 20px 8px 13px;display: flex;}
.c_incubator_minelist_inner_left{webkit-box-flex: 5;-webkit-flex: 5;flex: 5;}
.c_incubator_minelist_inner_left_box1{height: 26px;line-height:26px;font-size: 16px;color: #000;display: inline-flex;flex-direction:column;justify-content: flex-start;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;}
.c_incubator_minelist_inner_left_box2{height: 48px;display: flex;flex-direction:column;margin-top: 14px;margin-bottom: 4px;}
.c_incubator_minelist_inner_left_box2 label{height: 24px;font-size: 12px;color: #999;display: inline-flex;flex-direction:column;justify-content: flex-end;}

.c_incubator_minelist_inner_right{webkit-box-flex: 1;-webkit-flex: 1;flex: 1;display: flex;flex-direction: column;justify-content: space-between;}
.c_incubator_minelist_inner_rightscore{height: 26px;font-size: 16px;color: #59cb86;text-align: right;}
.c_incubator_minelist_inner_rightstatus{height: 24px;font-size:12px;color: #fff;line-height: 24px;text-align: center;margin-bottom: 4px;border-radius: 2px;}
.check_status1{background: #ec4848;}
.check_status2{background: #59cb86;}
.check_status3{background: #c9c9c9;}
/*空页面*/
.c_nodata_box4{float: left;width: 100%;}
.c_nodata_box4_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box4_img img{height: 124px;}
.c_nodata_box4_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}

