<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>确认订单</title>
    <link href="/static/resources/lib/css/common.css?v={$timestamp}" rel="stylesheet" type="text/css" />
    <link href="/static/resources/lib/weui/weui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/resources/page/meeting/confirm/css/index.css?v={$timestamp}" rel="stylesheet" type="text/css" />
</head>

<body class="background">
    <input type="hidden" id="is_company_manager" value="{$is_company_manager}" />
    <input type="hidden" id="meeting_room_id" value="{$meeting_room_id}" />
    <input type="hidden" id="meeting_room_name" value="{$meeting_room_name}" />
    <input type="hidden" id="meeting_room_address" value="{$meeting_room_address}" />
    <input type="hidden" id="meeting_room_list_img_url" value="{$meeting_room_list_img_url}" />
    <input type="hidden" id="meeting_room_banner_url" value="{$meeting_room_banner_url}" />
    <input type="hidden" id="meeting_room_person_limit" value="{$meeting_room_person_limit}" />
    <input type="hidden" id="basic_price" value="{$basic_price}" />
    <input type="hidden" id="theme" value="{$theme}" />
    <input type="hidden" id="persons" value="{$persons}" />
    <input type="hidden" id="contact_name" value="{$contact_name}" />
    <input type="hidden" id="contact_mobile" value="{$contact_mobile}" />
    <input type="hidden" id="contact_email" value="{$contact_email}" />
    <input type="hidden" id="company_name" value="{$company_name}" />
    <input type="hidden" id="invoice" value="{$invoice}" />
    <input type="hidden" id="bake" value="{$bake}" />
    <input type="hidden" id="increment_services" value='{$increment_services}' />
    <input type="hidden" id="reserve_start_time" value="{$reserve_start_time}" />
    <input type="hidden" id="reserve_end_time" value="{$reserve_end_time}" />
    <input type="hidden" id="is_need_invoice" value="{$is_need_invoice}" />
    <input type="hidden" id="invoice_type" value="{$invoice_type}" />
    <input type="hidden" id="invoice_title" value="{$invoice_title}" />
    <input type="hidden" id="invoice_mail_address" value="{$invoice_mail_address}" />
    <input type="hidden" id="invoice_tax_no" value="{$invoice_tax_no}" />

    <script src="/static/resources/lib/js/zepto.min.js" ></script>
    <script src="/static/resources/lib/weui/weui.min.js" ></script>
    <script src="/static/resources/page/meeting/confirm/tpl/build/template.js?v={$timestamp}"></script>
    <script src="/static/resources/util/tool.js?v={$timestamp}"></script>
    <script src="/static/resources/page/meeting/confirm/js/index.js?v={$timestamp}" ></script>

</body>
</html>
