@charset "utf-8";
/* CSS Document */



/*确认支付*/
.c_activity_confirmtop{float: left;width: 100%;height: 70px;background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#f2ad14), to(#e75a21));}
.c_activity_confirmtop_inner{height: 20px;line-height: 20px;display: table;margin: 0 auto;font-size: 13px;margin-top: 25px;}
.c_activity_confirmtop_inner b{margin-right: 10px;float: left;}
.c_activity_confirmtop_inner b img{height: 20px;}
.c_activity_confirmtop_inner span{float:left;font-weight: bold;font-family: "微软雅黑 light";color: #fff;}
.c_room_confirmtop{background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#a1eaa1), to(#66c760));}

.c_activity_confirmlist{float: left;width: 100%;margin-top: 10px;box-sizing: border-box;padding: 0 9px;}
.c_activity_confirmlist_inner{float: left;width: 100%;background: #fff;border-radius: 4px;box-sizing: border-box;padding: 0 20px;}
.c_activity_confirmlist_inner .weui-cell{padding: 10px 0;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__bd{font-size: 13px;min-width: 45%;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__ft{letter-spacing: 1px;word-break: break-all;text-align: left;}

.c_room_confirm_costtitle{display:flex;;height: 20px;line-height: 20px;margin-top: 12px;}
.c_room_confirm_costtitle_inner1{
    -webkit-box-flex: 2;-webkit-flex: 2;flex: 2;height: 0px;margin-top: 10px;border-bottom: 1px solid #E5E5E5;
    -webkit-transform-origin: 0 0;transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);transform: scaleY(0.5);
}

.c_room_confirm_nobefore:before{border: none !important;height: 0 !important;}
.c_room_confirm_costtitle_inner2{-webkit-box-flex: 3;-webkit-flex: 3;flex: 3;height: 20px;line-height: 20px;font-size: 15px;color: #000;text-align: center;}

.c_room_confirm_costtitle2{display:flex;;height: 20px;line-height: 20px;margin-top: 12px;font-size:13px;font-weight: bold;}


.c_room_paytop{float: left;width: 100%;background: #fff;}
.c_room_paytop_inner{float: left;width: 100%;display: flex;display: -webkit-flex; padding: 15px 12px 15px 16px;box-sizing: border-box;}
.c_room_paytop_inner_left{-webkit-box-flex: 5.2;-webkit-flex: 5.2;flex: 5.4;padding: 2px 0 2px 0;}
.c_room_paytop_inner_left a{float: left;width: 100%;}
.c_room_paytop_inner_left a img{width: 100%;}
.c_room_paytop_inner_right{-webkit-box-flex: 10;-webkit-flex: 10;flex: 10;display: inline-flex;flex-direction:column;justify-content: center;padding-left: 12px;}
.c_room_paytop_inner_right1{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 16px;color: #333;font-weight: bold;font-family: "微软雅黑 light";}
.c_room_paytop_inner_right2{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 13px;color: #999;display: inline-flex;flex-direction:column;justify-content: center;}
.c_room_paytop_inner_right3{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 13px;color: #999;display: inline-flex;flex-direction:column;justify-content: flex-end;}

.footer_fixed_box{position:fixed;left: 0;right: 0;height:49px;bottom: 0;min-width:320px;max-width:640px;overflow:hidden;margin-left:auto;margin-right:auto; z-index:10;background: #fff;border-top: 1px solid #e2e2e2;box-sizing: border-box;}
.footer_fixed_box_left{float:left;width: 50%;height: 48px;line-height: 48px;font-size: 11px;box-sizing: border-box;padding-left: 16px;color: #000;}
.footer_fixed_box_left b{font-size: 16px;color: #ed5050;}
.footer_fixed_box_right{float: left;width: 50%;height: 48px;}
.footer_fixed_box_right_inner{
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size:17px;
    color: #fff;
    letter-spacing: 1px;
    background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#f2ad14), to(#e75a21));
}
.c_activity_confirm_footer_left{font-size: 17px;color: #333;}

.room_pay{
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size:17px;
    color: #fff;
    letter-spacing: 1px;
    background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#a1eaa1), to(#66c760));
}

.c_room_confirm_inputbox1{display: flex;padding: 10px 0;}
.c_room_confirm_inputbox1_left{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;min-width:45%;height: 20px;line-height: 20px;font-size: 13px;color: #000;}
.c_room_confirm_inputbox1_right{line-height: 20px;font-size: 13px;color: #999;text-align: left;word-break: break-all;}
.c_room_confirm_inputbox2{display: flex;padding: 10px 0;flex-direction: column;}
.c_room_confirm_inputbox2_left{height: 20px;line-height: 20px;font-size: 13px;color: #000;}
.c_room_confirm_inputbox2_right{line-height: 24px;font-size: 13px;color: #999;margin-top: 10px;word-break:break-all;}
/*无数据*/
.c_nodata_box3{float: left;width: 100%;}
.c_nodata_box3_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box3_img img{height: 124px;}
.c_nodata_box3_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}

/*jack*/
.c-meeting-background{
    /*background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#a1eaa1), to(#66c760));*/
}
.c_activity_confirmtop {
    float: left;
    width: 100%;
    height: 82px;
    background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#a1eaa1), to(#66c760));
}
.c_activity_confirmtop_inner1 {
    height: 20px;
    line-height: 20px;
    display: table;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 16px;
}
.c_activity_confirmtop_inner1 b {
    margin-right: 10px;
    float: left;
}
.c_activity_confirmtop_inner1 span {
    float: left;
    font-weight: bold;
    font-family: "微软雅黑 light";
    color: #fff;
    font-size: 16px;
}
.c_activity_confirmtop_inner2 {
    height: 20px;
    line-height: 20px;
    display: table;
    margin: 0 auto;
    font-size: 10px;
    margin-top: 10px;
}
.c_activity_confirmtop_inner2 span {
    float: left;
    font-weight: bold;
    font-family: "微软雅黑 light";
    color: #fff;
    font-size: 12px;
}
.c_activity_confirmtop_inner1 b img {
    height: 20px;
}
.c-status{
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑 light";
    color: #fff;
    height: 80px;
    line-height: 80px;
}

/*发票*/
.c_activity_enrolllist{float: left;width: 100%;margin-top: 16px;background: #fff;}

.c_activity_enrolllist_inner_box{float: left;width: 100%;position: relative;box-sizing:border-box;padding:12px 15px;display: flex;}
.c_activity_enrolllist_inner_box:before{
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    left: 0;
}
.c_activity_enrolllist_inner_box_noborder:before{
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 0;
    left: 0;
}
.c_enrolllist_inner_left{height: 20px;line-height: 20px;font-size: 15px;color: #000;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}
.c_enrolllist_inner_right{height: 20px;line-height: 20px;border: none;font-size: 14px;color: #000;text-align:right;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}


.c_enroll_select{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;position: relative;}
.c_enroll_select:before{
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    left: 0;
}
.c_enroll_select_noborder:before{
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 0;
    left: 0;
}

.c_enroll_select_inner{float: left;width: 100%;box-sizing: border-box;padding: 10px 0;}
.c_enroll_select_inner_left{float: left;height: 24px;line-height: 24px;font-size: 15px;}
.c_enroll_select_inner_right{float: right;height: 24px;line-height: 24px;}
.c_enroll_select_option{float: left;margin-left: 45px;}
.c_enroll_select_option_btn{float: left;height: 24px;}
.c_enroll_select_option_btn img{height: 20px;margin-top: 2px;}
.c_enroll_select_option_txt{float: left;height: 24px;line-height: 24px;font-size: 13px;color: #999;margin-left: 15px;}


.c_enroll_invoiceslist{float: left;width: 100%;box-sizing: border-box;position: relative;padding: 0 15px;}
.c_enroll_invoiceslist .weui-cell_select{padding-left: 0;padding-top: 10px;padding-bottom: 10px;}
.c_enroll_invoiceslist .weui-cell__hd .weui-label{height: 24px;line-height: 24px;font-size: 15px;}
.c_enroll_invoiceslist .weui-cell__bd .weui-select{height: 24px;line-height: 24px;direction: rtl;font-size: 14px;color: #999;padding-right: 15px;}
.c_enroll_invoiceslist .weui-cell_select .weui-cell__bd:after{right: 0;}
.c_enroll_invoiceslist .c_activity_enrolllist_inner_box{padding-left: 0;padding-right: 0;}
.c_enroll_select:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    left: 0;
}

.c_enrolllist_inner_right::-webkit-input-placeholder{color: #c1c1c1;}
.c_enrolllist_inner_right::-moz-placeholder{color: #c1c1c1;}
.c_enrolllist_inner_right::-ms-input-placeholder{color: #c1c1c1;}

.c_enrolllist_inner_box_remindtxt{height: 12px;line-height:12px;font-size: 12px;color: #66c760;font-weight: normal;width: 100%;text-align: right;}

.c_activity_getscorepopup{position:fixed;left: 0;right: 0;height:100%;top: 0;min-width:320px;max-width:640px;overflow:hidden;margin-left:auto;margin-right:auto; z-index:11;background: url(/static/resources/images/opacity_background.png);}
.c_activity_getscorepopup_inner{position:relative;width: 80%;background: #fff;margin-left: 10%;top: 35%;margin-top:-89px;border-radius: 3px;overflow: hidden;padding: 10px 0;}
.c_activity_getscorepopup_inner_title{float: left;width: 100%;box-sizing: border-box;padding: 0 18px;margin-top: 12px;font-size: 18px;font-weight: bold;color: #66c760;text-align: center;}
.c_activity_getscorepopup_inner_remind{float: left;width: 90%;box-sizing: border-box;padding: 6px 10px;margin-top: 27px;font-size: 15px;color: #333;text-align: left;
    border:1px solid #e5e5e5;
    height: 100px;
    margin-left: 5%;
    border-radius: 3px;
}
.c_activity_getscorepopup_inner_btns{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;margin-top: 25px;margin-bottom: 15px;}
.c_activity_getscorepopup_inner_btns_close{float: left;width: 45%;height: 30px;box-sizing: border-box;border: 1px solid #a1eaa1;border-radius: 3px;line-height: 28px;text-align: center;color: #66c760;font-size: 15px;}
.c_activity_signcon_inner_btns_tosee{float: left;width: 45%;height: 30px;box-sizing: border-box;border-radius: 3px;line-height: 30px;text-align: center;color: #fff;background: #66c760;font-size: 15px;margin-left: 10%;}
.none {
    display: none;
}


/*0913 add*/
.c_refuse_box{float: left;width: 100%;padding: 0 16px;box-sizing: border-box;}
.c_refuse_box_inner{float: left;width: 100%;display: flex;padding: 5px 0;box-sizing: border-box;border-top: 1px solid #f4f4f4;}
.c_refuse_box_left{width: 70px;font-size: 14px;color: #333;line-height: 24px;}
.c_refuse_box_right{flex: 1;font-size: 13px;color: #999;line-height: 24px;word-break: break-all;}
