<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>信息确认</title>
    <link href="{$Think.__STATIC__}/resources/lib/weui/weui.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.__STATIC__}/resources/lib/css/common.css?v={$timestamp}" rel="stylesheet" type="text/css" />
    <link href="{$Think.__STATIC__}/resources/page/office/pageOrderConfirm/css/index.css?v={$timestamp}" rel="stylesheet" type="text/css" />
</head>
<body class="background">
<script src="{$Think.__STATIC__}/resources/lib/js/zepto.min.js" ></script>
<script src="{$Think.__STATIC__}/resources/lib/weui/weui.min.js" ></script>
<script src="{$Think.__STATIC__}/resources/lib/js/async.min.js"></script>
<script src="{$Think.__STATIC__}/resources/page/office/pageOrderConfirm/tpl/build/template.js?v={$timestamp}"></script>
<script src="{$Think.__STATIC__}/resources/util/tool.js?v={$timestamp}"></script>
<script src="{$Think.__STATIC__}/resources/page/office/pageOrderConfirm/js/index.js?v={$timestamp}" ></script>
    <input type="hidden" id="office_id" value="{$office_id}" />
    <input type="hidden" id="office_name" value="{$office_name}" />
    <input type="hidden" id="office_list_img_url" value="{$office_list_img_url}" />
    <input type="hidden" id="office_price" value="{$office_price}" />
    <input type="hidden" id="start_date" value="{$start_date}" />
    <input type="hidden" id="end_date" value="{$end_date}" />
    <input type="hidden" id="month_length" value="{$month_length}" />
    <input type="hidden" id="contact_name" value="{$contact_name}" />
    <input type="hidden" id="contact_mobile" value="{$contact_mobile}" />
    <input type="hidden" id="total_price" value="{$total_price}" />
    <input type="hidden" id="is_need_invoice" value="{$is_need_invoice}" />
    <input type="hidden" id="invoice_type" value="{$invoice_type}" />
    <input type="hidden" id="invoice_title" value="{$invoice_title}" />
    <input type="hidden" id="invoice_mail_address" value="{$invoice_mail_address}" />
    <input type="hidden" id="invoice_tax_no" value="{$invoice_tax_no}" />
</body>
</html>

















