@charset "utf-8";
/* CSS Document */


/*我的活动*/
.c_activity_minecon{float: left;width: 100%;}
.c_activity_minecon ul{float: left;width: 100%;}
.c_activity_minecon ul li{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;background: #fff;margin-bottom: 17px;}
.c_activity_minelist_inner1{float: left;width: 100%;border-bottom: 1px dashed #8f8f8f;display: flex;display: -webkit-flex; padding: 14px 0 16px 0;}
.c_activity_minelist_inner1_left{-webkit-box-flex: 5.3;-webkit-flex: 5.3;flex: 5.3;display: inline-flex;flex-direction: column;justify-content: center;}
.c_activity_minelist_inner1_left a{float: left;width: 100%;}
.c_activity_minelist_inner1_left a img{width: 100%;}
.c_activity_minelist_inner1_right{-webkit-box-flex: 10;-webkit-flex: 10;flex: 10;display: inline-flex;flex-direction:column;justify-content: center;padding-left: 25px;}
.c_activity_minelist_inner1_right1{font-size: 16px;color: #333;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.c_activity_minelist_inner1_right2{font-size: 14px;color: #999;margin-top: 5px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.c_activity_minelist_inner2{float: left;width: 100%;padding: 8px 0;}
.c_activity_minelist_inner2_left{float: left;height: 28px;line-height: 28px;font-size: 13px;}
.c_activity_minelist_status1{color: #59c681;}
.c_activity_minelist_status2{color: #e74848;}
.c_activity_minelist_status3{color: #c4c4c4;}
.c_activity_minelist_status4{color: #6e9ee0;}
.c_activity_minelist_inner2_right{float: right;}
.c_activity_minelist_inner2_right a{float: left;height: 28px;box-sizing: border-box;border: 1px solid #ef7c43;border-radius: 2px;padding: 0 10px;font-size: 11px;line-height: 26px;color: #ef7c43;margin-left: 15px;}

/*无数据*/
.c_nodata_box3{float: left;width: 100%;}
.c_nodata_box3_img{float: left;width: 100%;text-align: center;margin-top: 54px;}
.c_nodata_box3_img img{height: 124px;}
.c_nodata_box3_txt{float: left;width: 100%;font-size: 15px;color: #999;text-align: center;margin-top: 2px;letter-spacing: 1px;}
