@charset "utf-8";
/* CSS Document */


/*确认订单*/
.c_activity_confirmtop{float: left;width: 100%;height: 70px;background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#f2ad14), to(#e75a21));}
.c_activity_confirmtop_inner{height: 20px;line-height: 20px;display: table;margin: 0 auto;font-size: 13px;margin-top: 25px;}
.c_activity_confirmtop_inner b{margin-right: 10px;float: left;}
.c_activity_confirmtop_inner b img{height: 20px;}
.c_activity_confirmtop_inner span{float:left;font-weight: bold;font-family: "微软雅黑 light";color: #fff;}

.c_activity_enrolltop{float: left;width: 100%;background: #fff;box-sizing: border-box;padding: 14px 6.5%;}
.c_activity_enrolltop1{float: left;width: 100%;height: 26px;line-height: 26px;font-size: 15px;color: #000;font-weight: bold;font-family: "微软雅黑 light";letter-spacing: 1px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;word-break: break-all;}
.c_activity_enrolltop2{float: left;width: 100%;box-sizing:border-box;min-height: 24px;line-height:20px;font-size: 13px;color: #919191;margin-top: 8px;box-sizing: border-box;padding: 2px 0;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.c_activity_enrolltop3{float: left;width: 100%;box-sizing:border-box;min-height: 24px;line-height:20px;font-size: 14px;color: #919191;margin-top: 8px;box-sizing: border-box;padding: 2px 0;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;}

.c_activity_confirmlist{float: left;width: 100%;margin-top: 10px;box-sizing: border-box;padding: 0 9px;}
.c_activity_confirmlist_inner{float: left;width: 100%;background: #fff;border-radius: 4px;box-sizing: border-box;padding: 0 20px;}
.c_activity_confirmlist_inner .weui-cell{padding: 10px 0;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__bd{font-size: 13px;}
.c_activity_confirmlist_inner .weui-cell .weui-cell__ft{letter-spacing: 1px;}

.footer_fixed_box{position:fixed;left: 0;right: 0;height:49px;bottom: 0;min-width:320px;max-width:640px;overflow:hidden;margin-left:auto;margin-right:auto; z-index:10;background: #fff;border-top: 1px solid #e2e2e2;box-sizing: border-box;}
.footer_fixed_box_left{float:left;width: 50%;height: 48px;line-height: 48px;font-size: 11px;box-sizing: border-box;padding-left: 16px;color: #000;}
.footer_fixed_box_left b{font-size: 16px;color: #ed5050;}
.footer_fixed_box_right{float: left;width: 50%;height: 48px;}
.footer_fixed_box_right_inner{
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size:17px;
    color: #fff;
    letter-spacing: 1px;
    background:-webkit-gradient(linear, 0% 100%, 100% 100%,from(#f2ad14), to(#e75a21));
}
.c_activity_confirm_footer_left{font-size: 17px;color: #333;}

/*发票*/
.c_room_confirm_costtitle{display:flex;;height: 20px;line-height: 20px;margin-top: 12px;}
.c_room_confirm_costtitle_inner1{
    -webkit-box-flex: 2;-webkit-flex: 2;flex: 2;height: 0px;margin-top: 10px;border-bottom: 1px solid #E5E5E5;
    -webkit-transform-origin: 0 0;transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);transform: scaleY(0.5);
}

.c_room_confirm_nobefore:before{border: none !important;height: 0 !important;}
.c_room_confirm_costtitle_inner2{-webkit-box-flex: 3;-webkit-flex: 3;flex: 3;height: 20px;line-height: 20px;font-size: 15px;color: #000;text-align: center;}

.c_activity_confirmlist_inner .weui-cell .weui-cell__bd{min-width: 45%;}


.c_activity_bindtop{float: left;width: 100%;box-sizing: border-box;padding: 0 15px;background: #fff;margin-bottom: 20px;}
.c_activity_bindtop_inner{float: left;width: 100%;display: flex;display: -webkit-flex; padding: 10px 0 ;}
.c_activity_bindtop_inner_left{-webkit-box-flex: 5;-webkit-flex: 5;flex: 5;}
.c_activity_bindtop_inner_left a{float: left;width: 100%;}
.c_activity_bindtop_inner_left a img{width: 100%;}
.c_activity_bindtop_inner_right{-webkit-box-flex: 11;-webkit-flex: 11;flex: 11;display: inline-flex;flex-direction:column;justify-content: center;padding-left: 15px;}
.c_activity_bindtop_inner_right1{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 15px;color: #333;display: inline-flex;flex-direction:row;overflow: hidden;-webkit-line-clamp:1;display: -webkit-box;-webkit-box-orient:vertical;}
.c_activity_bindtop_inner_right2{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 11px;color: #999;display: inline-flex;flex-direction:row;overflow: hidden;-webkit-line-clamp:1;display: -webkit-box;-webkit-box-orient:vertical;line-height: 1.8;}
.c_activity_bindtop_inner_right3{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: 11px;color: #999;display: inline-flex;flex-direction:row;overflow: hidden;-webkit-line-clamp:1;display: -webkit-box;-webkit-box-orient:vertical;line-height: 1.8;}

